.product__card {
  box-shadow: 0 0 2px 0 rgba(107, 114, 128, 0.5);
  transition: 0.3s ease all;
}
.product__card:hover {
  box-shadow: 0 5px 20px 0 rgba(107, 114, 128, 0.5);
  transform: scale(1.06);
}