ul {
  width: 60%;
  .menu__item:hover {
  // background-image: url("https://media4.giphy.com/media/QuPrp3BI6cMe2lErCb/giphy.gif?cid=ecf05e47r59xcsako7dwwjxumrgtumr51ibzftvf0ahx2akf&rid=giphy.gif&ct=g");
  background-image: url("https://media2.giphy.com/media/riw3K0D2h4klG/giphy.gif?cid=ecf05e47g0owc09slv91mutclnfzs0yk3bevs8auf5ankbjf&rid=giphy.gif&ct=g");
  // background-image: url("https://media2.giphy.com/media/FkUyGd7FDh1gk/giphy.gif?cid=ecf05e47fkebi6vjef6skd0mlhncvejmut4zj0yjl33slfbq&rid=giphy.gif&ct=g");
  background-size: cover;
  color: white;
  }
}